@font-face {
  font-family: 'Gallient';
  src: url('fonts/Gallient-Regular.woff2') format('woff2'),
      url('fonts/Gallient-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fog';
  src: url('fonts/FoglihtenNo07.woff2') format('woff2'),
      url('fonts/FoglihtenNo07.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aqala';
  src: url('fonts/AqalaDisplayFREE-Regular.woff2') format('woff2'),
      url('fonts/AqalaDisplayFREE-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
